<amberdata-recordinfo #appRecord [disableEdit]="false" 
[scene]="'erms_zljh'" 
  class="show--template--content--box" [id]="id" 
 [showTemplateXml]="showTemplateXml" [jsonMetadataTemplate]="jsonMetadataTemplate" 
 [_dwClassManageServiceGetMetadataCategoryInfo]="get_dwClassManageServiceGetMetaSysClassList"
 [_dwClassManageServiceGetMetaSysClassList]="_AppService.getClassLIst"
 [serverFiles] ="files"
 [info]="info" >
</amberdata-recordinfo>
<add-electronic-document (updateInfo)="updateInfo($event)" [jsonMetadataTemplate]="jsonMetadataTemplate"    [policys]="policys" [policynamelist]="policynamelist">
</add-electronic-document >
<button (click)="editRecord()">保存</button>
